:root {
  --main-bg: #0e1111;
  --main-text: #ffffff;
  --orange: #ff8c00;
  --greenblue: #93b7be;
  --blue: #6290C3;
  --red: #AA5042;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

html {
  font-size: calc(15px + 0.390625vw);
  background-color: var(--main-bg);
}

.icon-small {
  width: 1rem;
  min-width: 16px;
}

.iconBG {
  &.color-orange {
    filter: invert(78%) sepia(42%) saturate(7374%) hue-rotate(359deg) brightness(100%) contrast(105%);
  }
}

a {
  text-decoration: none;
  color: var(--main-text);
}