.p-chips {
  border-bottom: 1px solid #ced4da;
  width: 100%;
  &:hover {
    border-color: var(--orange);
  }
}

.p-chips-multiple-container {
  width: 100%;
}
.p-chips:not(.p-disabled):hover .p-chips-multiple-container {
  border-color: rgba(255,140,0,0.29);
}
.p-chips:not(.p-disabled).p-focus .p-chips-multiple-container {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem rgba(255,140,0,0.29);
  border-color: var(--orange);
}
.p-chips .p-chips-multiple-container {
  padding: 0.375rem 0.75rem;
}
.p-chips .p-chips-multiple-container .p-chips-token {
  padding: 0.375rem 0.75rem;
  margin: 0 0.5rem 0.5rem 0;
  border: 1px solid var(--orange);
  color: var(--orange);
  background-color: rgba(255,140,0,0.1);
  border-radius: 8px;
}
.p-chips .p-chips-multiple-container .p-chips-token.p-focus {
  border: 1px solid var(--orange);
  color: var(--orange);
  background-color: rgba(255,140,0,0.1);
}
.p-chips .p-chips-multiple-container .p-chips-token .p-chips-token-icon {
  margin-left: 0.5rem;
}
.p-chips .p-chips-multiple-container .p-chips-input-token {
  padding: 0.375rem 0;
}
.p-chips .p-chips-multiple-container .p-chips-input-token input {
  font-size: 1rem;
  color: #495057;
  padding: 0;
  margin: 0;
}
.p-chips.p-invalid.p-component > .p-inputtext {
  border-color: #e24c4c;
}